/* Write your CSS here */
.bg-container {
  padding: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 30px;
}
.heading {
  font-family: 'Roboto';
  font-size: 30px;
  color: #0f172a;
  font-weight: bold;
}
.counter {
  font-family: 'Roboto';
  font-size: 23px;
  color: #334155;
  font-weight: bold;
}
.button {
  background-color: #ffffff;
  color: #334155;
  border: 1px solid #1e293b;
  border-radius: 7px;
  padding: 10px;
}
.para {
  font-family: 'Roboto';
  font-size: 18px;
  color: #1e293b;
}
